<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удалить техосмотр (тягач)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            <h2 class="text-danger">Удалить техосмотр (тягач)</h2>
            <p class="fs-5"><strong>Вы уверены, что хотите удалить техосмотр для - {{ inspection }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="{% url 'truck_inspection_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</body>
</html>
